%body
  .single-container
    .ser
      %header.single-header
        %h1
          = link_to image_tag("logo.svg", class:"img"), "https://www.mercari.com/jp/"
      %main.single-main
        %section.l-single-container
          %h2.l-single-head.registration
            新規会員登録
          .l-single-inner.registration-form
            .l-single-content
              .button-default.red
                = link_to "https://www.mercari.com/jp/signup/registration/" ,class:"red" do
                  = fa_icon 'envelope', class:"m-icon"
                  %p メールアドレスで登録する
              .button-default.blue
                = link_to "https://www.facebook.com/", class: "blue" do
                  = fa_icon 'facebook-square', class:"f-icon"
                  %p Facebookで登録する
              .button-default.white
                = link_to "https://accounts.google.com/", class:"g-link" do
                  = fa_icon 'google', class:"g-icon"
                  %p Googleで登録する
    %footer.single-footer
      %nav
        %ul.clearfix
          %li.firstchild
            = link_to "https://www.mercari.com/jp/privacy/" ,class:"linkblack" do
              プライバシーポリシー
          %li.lineup
            = link_to "https://www.mercari.com/jp/tos/" ,class:"linkblack" do
              メルカリ利用規約
          %li.lineup
            = link_to "https://www.mercari.com/jp/tokutei/" ,class:"linkblack" do
              特定商取引に関する表記
      = link_to "https://www.mercari.com/jp/", class:"single-footer-logo" do
        %img{class:"single-footer-logo",alt: "mercari", height:"65", width:"80", src:"//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?872667783"}/
      %p.ct
        %small © 2019 Mercari