.single-main
  .login-panel
    .login-no-account
      %p アカウントをお持ちでない方はこちら
      = link_to index_path, class:"sigup-assist-link" do
        新規会員登録
    .login-form-inner
      = link_to user_facebook_omniauth_authorize_path, class: "blue btn-default btn-sns btn-sns-facebook", id: "facebook-login" do
        = fa_icon 'facebook-square', class:"icon-facebook"
        Facebookでログイン
      = link_to user_google_oauth2_omniauth_authorize_path, class: "g-link btn-default btn-sns btn-sns-google", id: "google-login" do
        = fa_icon 'google', class:"g-icon"
        Googleでログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .login-form-inner-ex
        .form-group
          = f.text_field :email, placeholder:"メールアドレス", class:".login-input-text input-default"
        .form-group
          = f.text_field :password, placeholder:"パスワード", class:".login-input-text input-default"
        .form-group
        = f.submit "ログイン", class:"login-submit btn-default btn-red"
        %input{name: "login_callback",type: "hidden", value: "/jp/"}/
        %input{name: "__csrf_value", type: "hidden", value: "e1c1f93e58bd81edbfc8ada7584e2372f3ecbdcd073acc163d88bd3d27f7934d4e073c5ea9afce51b11b4c8411376709480ec476fd05d37de0c5a110009748475"}/
        = link_to "https://www.mercari.com/jp/password/reset/start/" do
          パスワードをお忘れの方
          -# ↓↓↓後工程↓↓↓
  %form#login_form_facebook{action: "/jp/login/",method:"POST",novalidate: "novalidate"}
    %input{:name => "__csrf_value", :type => "hidden", :value => "e1c1f93e58bd81edbfc8ada7584e2372f3ecbdcd073acc163d88bd3d27f7934d4e073c5ea9afce51b11b4c8411376709480ec476fd05d37de0c5a110009748475"}/
    %input{:name => "nickname", :type => "hidden", :value => ""}/
    %input{:name => "email", :type => "hidden", :value => ""}/
    %input{:name => "facebook_user_id", :type => "hidden", :value => ""}/
    %input{:name => "facebook_access_token", :type => "hidden", :value => ""}/
    %input{:name => "login_type", :type => "hidden", :value => "facebook"}/
    %input{:name => "login_callback", :type => "hidden", :value => "/jp/"}/
  %form#login_form_google{:action => "/jp/login/", :method => "POST", :novalidate => "novalidate"}
    %input{:name => "__csrf_value", :type => "hidden", :value => "e1c1f93e58bd81edbfc8ada7584e2372f3ecbdcd073acc163d88bd3d27f7934d4e073c5ea9afce51b11b4c8411376709480ec476fd05d37de0c5a110009748475"}/
    %input{:name => "nickname", :type => "hidden", :value => ""}/
    %input{:name => "email", :type => "hidden", :value => ""}/
    %input{:name => "google_user_id", :type => "hidden", :value => ""}/
    %input{:name => "google_access_token", :type => "hidden", :value => ""}/
    %input{:name => "login_type", :type => "hidden", :value => "google"}/
    %input{:name => "login_callback", :type => "hidden", :value => "/jp/"}/
  %input#google_client_id{:type => "hidden", :value => "238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com"}/
  %input#facebook_app_id{:type => "hidden", :value => "466308336793848"}/