= render "shared/main-header"
.mypage
  = render "users/side_bar"
  %section.add-card
    %h2.add-card__head
      支払い方法
    .add-card__list
      %section
        .add-card__list__head
          %h3 クレジットカード一覧
      .add-card__list__btn
        = link_to  root_path, class: 'add-card__list__btn__red' do
          = fa_icon 'fas fa-credit-card', class: "fas fa-credit-card" 
          クレジットカードを追加する
    %p.payment
      = link_to root_path, class: "payment__go" do
        支払い方法について
        = fa_icon 'fas fa-angle-right', class: "fa-angle-right fa-pull-right"
          
            

= render "shared/main-footer"