.mypage
  .mypage__side-bar
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          .ppp
            = link_to root_path, class: "mypage-nav-list-item" do
              マイページ
              = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            お知らせ
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            いいね！一覧
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            出品する
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            出品した商品 - 出品中
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            出品した商品 - 取引中
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            出品した商品 - 売却済み
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            購入した商品 - 取引中
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            購入した商品 - 過去の取引
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            ニュース一覧
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            評価一覧
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            ガイド
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            お問い合わせ
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
      %h3.mypage-nav-head
        メルペイ
      %ul.mypage-nav-list
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            売上・振込申請
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            ポイント
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
      %h3.mypage-nav-head
        設定
      %ul.mypage-nav-list
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            プロフィール
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            発送元・お届け先住所変更
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            支払い方法
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            メール / パスワード
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            本人情報
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            電話番号の確認
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"
        %li
          = link_to root_path, class: "mypage-nav-list-item" do
            ログアウト
            .hulu2
            = fa_icon 'fas fa-angle-right', class: "fa-angle-right"