- breadcrumb :logout
= render "shared/main-header"
%nav.bread-crumbs
  %ul
    %li
      = breadcrumbs separator: " &rsaquo; "
.mypage
  = render "users/side_bar"

  .logout-page
    = link_to sign_out_path, method: :delete, class: 'logout-page__btn' do
      ログアウト

= render "shared/main-footer"