- breadcrumb :product
= render "shared/main-header"
%nav.bread-crumbs
  %ul
    %li
      = breadcrumbs separator: " &rsaquo; "
.mypage
  = render "users/side_bar"
  %section.main-contents
    %h2.mypage__trade__head
      出品した商品
    %ul.exhibit-list
      = link_to product_users_path, class: "exhibit-list__show" do
        %li.active
          出品中
      = link_to progress_users_path, class: "exhibit-list__show" do
        %li
          取引中
      = link_to completed_users_path, class: "exhibit-list__show" do
        %li
          売却済み
    -# ここはitemサーバーサイド完成したらeach文使います！
    - @user_item_list.each do |list|
      .product
        %ul.product__ul
          %li
          - if list.listing?
            = link_to item_path(list.id), class: "product__link" do
              %figure
                = image_tag list.images[0].image.url, size: "40x40", class: "product__img"
              .product-list
                .product-list__text
                  = list.title
                .product-list__status
                  %span.content-count
                    = fa_icon 'far fa-heart', class: "far fa-heart"
                    %span 0
                  %span.content-count
                    = fa_icon 'far fa-comments', class: "far fa-comments"
                    %span 0
                  .product-list__status__icon
                    出品中
              = fa_icon 'fas fa-angle-right', class: "fa-angle-right right-allow fa-pull-right"

-# paginate入れます！