%header.main-header
  .main-header__inner
    .main-header__inner__top
      .main-header__inner__top__logo
        = link_to root_path do
          = image_tag "logo.svg", alt: 'mercari', size:"134x36"
  
      .main-header__inner__top__search
        = form_with url: "#", method: :get do |f|
          = f.text_field :keyword, placeholder: "何かお探しですか？", class: "main-header__inner__top__search__bar"
          = button_tag type: 'submit', class: "search-btn" do
            = fa_icon "search"


    .main-header__inner__bottom
      .main-header__inner__bottom__left__block
        .main-header__inner__bottom__left__block__category
          =link_to "#", class:'link' do
            %i.fa.fa-list
            .header__text
              カテゴリーから探す
            
        .main-header__inner__bottom__left__block__brand
          =link_to "#", class:'link' do
            %i.fa.fa-tag
            .header__text
              ブランドから探す


      -# .main-header__inner__bottom__right__block
      -#   .main-header__inner__bottom__right__block__register
      -#     =link_to new_signup_path, class: 'header-btn' do
      -#       .btn-red 新規会員登録
      -#   .main-header__inner__bottom__right__block__login
      -#     =link_to '#', class: 'header-btn'do
      -#       .btn-blue ログイン


      .main-header__inner__bottom__right__block-logged-in
        %ul.lists-logged-in
          %li.list.liked
            =link_to "#", class: "flex" do
              = fa_icon "heart"
              .text いいね！一覧
          %li.list.notification
            =link_to "#", class: "flex" do
              = image_tag "bell-icon.svg", class: "bell"
              .text お知らせ
          %li.list.todo
            =link_to "#", class: "flex" do
              =fa_icon "check"
              .text やることリスト
          %li.list.my
            =link_to "#", class: "flex" do
              .circle-photo
              .text マイページ