%header.main-header
  .main-header__inner
    .main-header__inner__top
      .main-header__inner__top__logo
        = link_to root_path do
          = image_tag "logo.svg", alt: 'mercari', size:"134x36"
  
      .main-header__inner__top__search
        = form_with url: "#", method: :get, local: true do |f|
          = f.text_field :keyword, placeholder: "何かお探しですか？", class: "main-header__inner__top__search__bar"
          = f.submit class: "search-btn", value: ""
        = fa_icon "search"


    .main-header__inner__bottom
      .main-header__inner__bottom__left
        .main-header__inner__bottom__left__block
          =link_to "#", class:'link' do
            .header-text__category
              カテゴリーから探す
            
        .main-header__inner__bottom__left__block
          =link_to "#", class:'link' do
            .header-text__brand
              ブランドから探す


      - if user_signed_in?
        = session[:id]
        .main-header__inner__bottom__right__block-logged-in
          %ul.lists-logged-in
            %li.list
              =link_to "#", class: "flex" do
                .text.liked いいね！一覧
            %li.list
              =link_to "#", class: "flex" do
                -# = image_tag "bell-icon.svg", class: "bell"
                .text.notification お知らせ
            %li.list
              =link_to "#", class: "flex" do
                .text.todo やることリスト
            %li.list
              =link_to profile_users_path, class: "flex" do
                .circle-photo
                .text マイページ
    
      - else
        .main-header__inner__bottom__right__block
          .main-header__inner__bottom__right__block__register
            =link_to index_path, class: 'header-btn' do
              .btn-red 新規会員登録
          .main-header__inner__bottom__right__block__login
            =link_to new_user_session_path, class: 'header-btn'do
              .btn-blue ログイン
