.main-box
  .main-box__category
    .main-box__category__bar
      .main-box__category__bar__title
        全ての新着アイテム
      -# .main-box__category__bar__link      
      -#   =link_to "#", class: "more-detail-link" do
      -#     もっと見る
      -#     %i.fa.fa-chevron-right
          
    .main-box__category__content
      .main-box__category__content__grid
        - @all_new_items.each do |new_item|
          =link_to item_path(new_item.id) do
            .box
              - unless new_item.listing?
                .item-sold-badge
                .soldtext
                  SOLD
              .price ¥ #{new_item.price.to_s(:delimited)}
              =image_tag new_item.images[0].image.url, class: "image-box"
              
              .title-text #{new_item.title}
  

  .main-box__category
    .main-box__category__bar
      .main-box__category__bar__title
        レディース新着アイテム
      -# .main-box__category__bar__link
      -#   =link_to "#", class: "more-detail-link" do
      -#     もっと見る
      -#     %i.fa.fa-chevron-right

    .main-box__category__content
      .main-box__category__content__grid
        - @ladies_items.each do |ladies_item|
          =link_to item_path(ladies_item.id) do
            .box
              - unless ladies_item.listing?
                .item-sold-badge
                .soldtext
                  SOLD
              .price ¥ #{ladies_item.price.to_s(:delimited)}
              = image_tag ladies_item.images[0].image.url, class: "image-box"
              
              .title-text #{ladies_item.title}

  .main-box__category
    .main-box__category__bar
      .main-box__category__bar__title
        メンズ新着アイテム
      -# .main-box__category__bar__link      
      -#   =link_to "#", class: "more-detail-link" do
      -#     もっと見る
      -#     %i.fa.fa-chevron-right
          
    .main-box__category__content
      .main-box__category__content__grid
        - @mens_items.each do |mens_item|
          =link_to item_path(mens_item.id) do
            .box
              - unless mens_item.listing?
                .item-sold-badge
                .soldtext
                  SOLD
              .price ¥ #{mens_item.price.to_s(:delimited)}
              =image_tag mens_item.images[0].image.url, class: "image-box"
              
              .title-text #{mens_item.title}