= render "shared/main-header"

.main-content
  .slick-container
    .sliders
      .slider
        %ul
          %li.slide-list
            = link_to 'https://www.mercari.com/jp/featured/camp/' do
              = image_tag 'slider-camp.png', class: 'slide'
        -# %li slick_slider用記述 時間があれば導入
        -#   = link_to 'https://www.mercari.com/jp/featured/camp/' do
        -#     -# = image_tag 'slider-room.jpg', class: 'slide', id: 'slider-room'
        -#     = image_tag 'slider-camp.png', class: 'slide'


  = render "items/main_product_nav"

  = render "items/main_product_boxes"

= render "shared/main-footer"

= render "shared/item-exhibit-button"