-# 新規出品用ページ
.item-exhibition-main-container
  %section.sell-item
    .sell-item__container
      %h2.item-regi-head
        商品の情報を入力
      = form_with model: @item, local: true, class: "form-container" do |f|
        = f.fields_for :images do |img|  
          .sell-upload-box
            .sell-upload-box__title
              .sell-upload-box__title__title
                出品画像
                %span.sell-upload-box__title__required
                  必 須
            %p 最大1枚までアップロードできます
            .sell-upload-box__image
              .image-container
                .upload-images.have-image-0
                  %ul
              = img.label :url, for: "image_file_field" do
                .image-dropzone    
                  =img.file_field :image, class:"drop-file", id:'image_file_field'
                  %pre.text
                    -# ドラッグアンドドロップまたは(実装未完のためコメントアウト中)
                    クリックしてファイルをアップロード(1枚)
            = render "shared/error_message", column: "images"
              

        .sell-content-box-top
          .sell-content-box-top__title
            商品名
            %span.sell-content-box-top__required
              必須
          =f.text_field :title, placeholder:'商品名(必須40文字まで)', class: "text_field"
          = render "shared/error_message", column: "title"
          
          .sell-content-box-top__title.description
            商品説明
            %span.sell-content-box-top__required
              必須
          =f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "text_area", rows: "5"
          = render "shared/error_message", column: "description"
        
        .sell-content-box
          .sell-left-block
            %h3.head-text  商品の詳細
          .sell-form-box
            .form-block#first-child
              %label カテゴリー
              %span.required 必須
              .select-wrap
                = f.collection_select(:category_parent_id, Category.roots, :id, :name, {prompt:"---"}, class:"collection_select-default", id: "category-parent_select")
                %i.fa.fa-chevron-down
              .select-wrap#second-children

              .select-wrap#third-children
            = render "shared/error_message", column: "category"

            .form-block#size-select 

            .form-block
              %label ブランド
              %span.optional 任意
              .select-wrap
                -# ブランドテーブル未実装のため、現在は保留
                -# = f.collection_select(:, @, :id, :name, {prompt:"---"}, class:"collection_select-default", id: "")
                -# = f.collection_select(プロパティ名, オブジェクトの配列, value属性の項目, テキストの項目 [, オプション])
                -# %i.fa.fa-chevron-down
                

            .form-block
              %label 商品の状態
              %span.required 必須
              .select-wrap
                = f.collection_select(:condition_id, Condition.all, :id, :condition, {prompt:"---"},{class:"collection_select-default condition-select"})
                %i.fa.fa-chevron-down
            = render "shared/error_message", column: "condition"
              


        .sell-content-box
          .sell-left-block
            %h3.head-text  
              配送について
              =link_to "?", "#", class: "link question"
          .sell-form-box.first-child
            .form-block.first-child
              %label 配送料の負担
              %span.required 必須
              .select-wrap
                = f.collection_select(:shipping_fee_burden_id, ShippingFeeBurden.all, :id, :burden, {prompt:"---"},{class:"collection_select-default shipping_fee_burden-select"})
                %i.fa.fa-chevron-down
            = render "shared/error_message", column: "shipping_fee_burden"
            

            .form-block.shipping-method_hidden
              %label 配送の方法
              %span.required 必須
              .select-wrap
                = f.collection_select(:shipping_method_id, ShippingMethod.all, :id, :name, {prompt:"---"},{class:"collection_select-default shipping_method"})
                %i.fa.fa-chevron-down
            = render "shared/error_message", column: "shipping_method"
              

            .form-block
              %label 発送元の地域
              %span.required 必須
              .select-wrap
                = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {prompt:"---"},{class:"collection_select-default region-select"})
                %i.fa.fa-chevron-down
            = render "shared/error_message", column: "prefecture"
              

            .form-block
              %label 発送までの日数
              %span.required 必須
              .select-wrap
                = f.collection_select(:shipping_duration_id, ShippingDuration.all, :id, :duration, {prompt:"---"},{class:"collection_select-default duration-select"})
                %i.fa.fa-chevron-down
            = render "shared/error_message", column: "shipping_duration"
              

        .sell-content-box
          .sell-left-block
            %h3.head-text 
              販売価格(300〜9,999,999)
              =link_to "?", "#", class: "link question"
          .sell-form-box
            .form-block
              %ul.price-block
                %li.sell-price
                  .price-left
                    %label 価格
                    %span.required 必須
                  .price-right
                    ¥
                    =f.text_field :price, placeholder: "例）300", class: "price-input" 
                = render "shared/error_message", column: "price"
                    
                %li.margin
                  販売手数料
                  .fee -

                %li.profit
                  %label.bigger 
                    販売利益
                  .sales-profit -

        .sell-content-box-bottom
          .text-tags
            %p 
              =link_to "禁止されている出品" , "#", class: "link-blue"
              、
              =link_to "行為" , "#", class: "link-blue"
              を必ずご確認ください。
            %p  
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              =link_to "偽ブランドの販売", "#", class: "link-blue"
              は犯罪であり処罰される可能性があります。
            %p  
              また、出品をもちまして
              =link_to "加盟店規約", "#", class: "link-blue"
              に同意したことになります。
          
          =f.submit "出品する", class:"exhibit-button-bar" 
          =link_to "もどる", "javascript:history.back();", class:"go-back-button"
        

          




    