= render "shared/main-header"
.item-detail-page
  .item-detail-page__container
    %h1.item-detail-page__container__title
      = @item.title
    .item-detail-page__container__clearfix
      .photo-box
        - unless @item.listing?
          .item-sold-badge
          .soldtext
            SOLD
        .photo-box__higher
          =image_tag @item.images[0].image.url, class: "upper-photo"
        .thumbnails-box
          =image_tag @item.images[0].image.url, class: "thumbnail"

      %table.detail-table
        %tbody
          %tr
            %th 出品者
            %td 
              -# ユーザーの評価一覧 数値は未実装
              = @item.user.user_profile.nickname
              .evaluation_face-icons
                .good-face
                  0
                .normal-face
                  0
                .bad-face
                  0

          %tr
            %th カテゴリー
            %td 
              %p
                = @item.category.root.name
              %p.category_text
                = @item.category.parent.name
              %p.category_text
                = @item.category.name
          %tr
            %th ブランド
            %td
          - if @item.size.present?
            %tr
              %th 商品のサイズ
              %td
                = @item.size.size
          %tr
            %th 商品の状態
            %td 
              = @item.condition.condition

          %tr
            %th 配送料の負担
            %td
              = @item.shipping_fee_burden.burden
          %tr
            %th 配送の方法
            %td 
              = @item.shipping_method.name
          %tr
            %th 配送元地域
            %td 

              = @item.prefecture.name

          %tr
            %th 発送日の目安
            %td 
              = @item.shipping_duration.duration

      .price-section
        %span.item-price 

          = "￥" + @item.price.to_s(:delimited)

        %span.item-tax (税込)
        %span.item-shipping 
          = @item.shipping_fee_burden.burden
      
      -# -if @item.user_id != current_user.id && @item.listing?
      -#   =link_to buy_item_path do
      -#     .purchase-button
      -#       購入画面に進む
      -if user_signed_in? && @item.user_id != current_user.id
        =link_to buy_item_path do
          .purchase-button
            購入画面に進む
      
      -unless user_signed_in?
        =link_to new_user_session_path do
          .purchase-button
            購入画面に進む

      -unless @item.listing?
        .purchase-button2
          売約済み

      .item-description
        %p.item-text 
          = @item.description

      .item-button-container
        .item-button-container__left-block
          .item-button-container__left-block__like.item-button
            =link_to "#", class: "link" do
              =fa_icon "heart"
              -# いいね機能は未実装
              いいね! 0

          .item-button-container__left-block__report.item-button
            =link_to "#", class: "link" do
              =fa_icon " flag"
              .report-text
                不適切な商品の報告

        .item-button-container__right-block
          =link_to "#", class: "link-blue" do 
            =fa_icon "lock"
            %span あんしん・あんぜんへの取り組み

  -# item showページ 出品アイテムの編集、出品停止ボタン
  -if user_signed_in? && @item.user_id == current_user.id
    = render "show_item_status_buttons" 


  .comment-box
    .comment-box__container
      .comment-box__container__content
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = form_with url: "#" do |form|
          = form.text_area :comment, class: "comment-form" 
        %button.comment-submit-button
          コメントする


  .prev-next-link-bar.clearfix
    .prev-link
      =link_to "#", class: "link-blue" do 
        =fa_icon "chevron-left"
        %span 前へのリンク

    .next-link
      =link_to "#", class: "link-blue" do 
        %span 次へのリンク
        =fa_icon "chevron-right"

  -# コメント欄のコメントされたメッセージ 後日追加

  .social-link
    %ul.social-link__box
      %li
        =link_to "#" do
          .case.fb
            -# =fa_icon "facebook-square"
            %i.fab.fa-facebook-square
      %li
        =link_to "#" do
          .case.tw
            -# =fa_icon "twitter"
            %i.fab.fa-twitter
      %li
        =link_to "#" do
          .case.pt
            -# =fa_icon "pinterest"
            %i.fab.fa-pinterest

= render "shared/main-footer" 