!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample59c
    = favicon_link_tag('favicon-32.ico')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{rel:"stylesheet", type:"text/css", href:"//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
    %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}
  %body
    = render "shared/main-header"
    
    = yield

    = render "shared/main-footer"

-# !!!
-# %html
-#   %head
-#     %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
-#     %title FreemarketSample59c
-#     = favicon_link_tag('favicon.ico')
-#     = csrf_meta_tags
-#     = csp_meta_tag
-#     = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
-#     = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
-#     %link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
-#     %link{rel:"stylesheet", type:"text/css", href:"//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
-#     %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}
   
-#   %body
-#     = render "shared/sell-product-create-link"
-#     = render "shared/main-header" , header_category_parents: @header_category_parents
-#     - if (breadcrumbs != [])
-#       .breadwrap
-#         = breadcrumbs separator: " &rsaquo; ", style: :ul, class: "breadwrap__ul"
-#     = yield
-#     = render "shared/main-footer"
